[Unit]
Description=Refresh dash.nyc data daily at 3:00 AM Eastern

[Timer]
OnCalendar=*-*-* 08:00:00 UTC
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target
